body {
    /*background-color: rgb(71, 203, 226)*/
}
    
    
#myname {
    color: rgb(32, 66, 99);
    text-align: center;
}
.info {
    font-display:inherit
}

h1 {
    padding: 5px;
    margin: 0;
    font-size: 3em;
    display: inline-table;
}
#quote1 {
    font-size: 4em;
    display: flex;
}
